{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('Static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h2>About SentimentAnalysisApp</h2>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Sentiment Analysis is a natural language processing task which helps to identify and categorize opinions expressed in a piece of text as positive, negative or neutral.  It helps to determine the reviewer’s point of view on a particular topic. It combines the techniques of computational linguistics and Information Retrieval (IR). The increasing user-generated content on the Internet is the motivation behind the sentiment analysis app. </p>
        <p>This app performs text sentiment analysis in two languages, Hindi and English</p>
        
      </div>
    </div>
  </div>

{% endblock %}
